<nav class="navbar navbar-expand-lg navbar-light bg-dark px-2">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <NavLink class="nav-link fs-4" href="" Match="NavLinkMatch.All">Home</NavLink>
        </li>
    </ul>
    
    <ul class="navbar-nav">
        <li class="nav-item active">
            <NavLink class="nav-link fs-4" href="create">New Post</NavLink>
        </li>
    </ul>
</nav>
