<nav class="navbar navbar-expand-lg navbar-light bg-dark px-4">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
        </li>
    </ul>
    
    <ul class="navbar-nav">
        <li class="nav-item active">
            <NavLink class="nav-link" href="edit">Counter</NavLink>
        </li>
    </ul>

    <ul class="navbar-nav">
        <li class="nav-item active">
            <NavLink class="nav-link" href="details">Weather</NavLink>
        </li>
    </ul>
</nav>
