@page "/edit/{Id:int?}"
@using Fullstack.Data.Models
@inject HttpClient Client

<PageTitle>edit</PageTitle>

@if (BlogPost is null)
{
    <h1>Loading</h1>
}
else
{
    <br/>
    <div class="bg-dark edit-box-outer px-4 corner-rounding text-light">
        <EditForm Model="BlogPost" OnSubmit="Submit">
            <div class="edit-box-inner">
                <InputText @bind-Value="BlogPost!.Title" placeholder="Title" class="my-4 corner-rounding editor">Title</InputText>
                <InputTextArea @bind-Value="BlogPost!.Content" placeholder="Content" rows="16" class="my-4 corner-rounding editor">Content</InputTextArea>
                <button class="button corner-rounding">Edit</button>
            </div>
        </EditForm>
    </div>
}

@if (Sending)
{
    <h1 class="text-light">Sending</h1>
}

@if (Edited)
{
    <div class="pop-up">
        <div class="card card-block post-card my-4 corner-rounding pt-5">
            <h1 class="mx-3 text-light">Post has been edited.</h1>

            <a class="mx-3 text-light button mb-3" href="/true">Go back</a>
        </div>
    </div>
}

@code {
    [Parameter]
    public int? Id { get; set; }
    private bool Sending { get; set; }
    private bool Edited { get; set; }
    private BlogPost? BlogPost { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        HttpResponseMessage response = await Client.GetAsync($"http://localhost:5179/api/Blog/{Id}");

        if (response.IsSuccessStatusCode)
        {
            BlogPost = await response.Content.ReadAsAsync<BlogPost>();
        }
    }
    
    private async Task Submit()
    {
        BlogPost!.Edited = true;
        BlogPost.EditedTime = DateTime.Now;
        
        HttpResponseMessage? response = await Client.PutAsJsonAsync($"http://localhost:5179/api/Blog/{Id}", BlogPost);
        
        Sending = true;
        
        if (response.IsSuccessStatusCode)
        {
            Edited = true;
            Sending = false;
        }
    }
}