@page "/"
@using Fullstack.Data.Models
@inject HttpClient Client

<PageTitle>Home</PageTitle>

<div class="d-flex flex-column align-items-center pt-3">
    <h1 class="text-center mt-3" style="width: 30%;">All Blog Posts</h1>
</div>


@if (_blogPosts is not null)
{
    <div class="d-flex flex-column align-items-center">
        @foreach (BlogPost blogPost in _blogPosts)
        {
            <div class="text-start card card-block post-card my-4 corner-rounding">
                <a href="details/@blogPost.Id" class="text-light">
                    <h2 class="m-lg-3 my-2">@blogPost.Title</h2>
                    <hr class="bg-light"/>
                    <p class="m-lg-3">@blogPost.Content</p>
                </a>
                <br/>
            </div>
        }
    </div>
}
else
{
<div class="pop-up">
    <div class="card card-block post-card my-4 corner-rounding pt-5">
        <h1>Loading...</h1>
        <h1>If the blog posts doesn't show up, try refreshing the site :)</h1>
    </div>
</div>
}

@code
{
    List<BlogPost>? _blogPosts;
    HttpResponseMessage? _response;
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            _response = await Client.GetAsync("http://localhost:5179/api/Blog");
            
            if (_response.IsSuccessStatusCode)
            {
                _blogPosts = await _response.Content.ReadAsAsync<List<BlogPost>?>();
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }
}
