@page "/"
@using Fullstack.Data.Models
@inject HttpClient Client

<PageTitle>Home</PageTitle>

<div class="d-flex flex-column align-items-center pt-3">
    <h1 class="text-center text-light bg-dark mt-3" style="width: 30%;">All Blog Posts</h1>
</div>


@if (_blogPosts is not null)
{
    <div class="d-flex flex-column align-items-center">
        @foreach (BlogPost blogPost in _blogPosts)
        {
            <a href="details/@blogPost.Id" class="text-start card card-block bg-dark my-4" style="width: 30%; text-decoration: none;">
                <h2 class="text-light m-lg-3 my-2">@blogPost.Title</h2>
                <hr class="bg-light"/>
                <p class="text-light m-lg-3">@blogPost.Content</p>
            </a>
            <br/>
        }
    </div>
}

@code
{
    List<BlogPost>? _blogPosts;
    
    protected override async Task OnInitializedAsync()
    {
        HttpResponseMessage response = await Client.GetAsync("http://localhost:5179/api/Blog");

        if (response.IsSuccessStatusCode)
        {
            _blogPosts = await response.Content.ReadAsAsync<List<BlogPost>?>();
        }
    }
}
